
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.homepage-Nco {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-skfd-NFR {
    width: 100%;
    height: 130.1rem;
    position: relative;
    flex-shrink: 0;

    .section-top-bar-FyR {
      left: 0;
      top: 0;
      align-items: center;
      border: solid 0.1rem #9e9e9e;
      background-color: #181818;
      box-sizing: border-box;
      position: absolute;
      height: 11.3rem;
      display: flex;
      padding: 1.8rem 37.8rem 1.8rem 37.5rem;
      width: 192rem;

      .logo-ic7 {
        flex-shrink: 0;
        margin-right: 36rem;
        width: 27rem;
        height: 7.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .nav-menu-pv3 {
        margin: 2.7rem 0rem 2.8rem 0rem;
        height: calc(100% - 5.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .home-8fq {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2;
          color: #9e9e9e;
        }
        .about-p2s {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Syne, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 6.25rem;
          line-height: 1.2;
          color: #9e9e9e;
          white-space: nowrap;
        }
        .services-w7V {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          color: #9e9e9e;
          font-family: Syne, 'Source Sans Pro';
          margin-right: 6.05rem;
          font-weight: 400;
          line-height: 1.2;
        }
        .pages-eXh {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 5.7rem;

          .pages-bC3 {
            font-family: Syne, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.6rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2;
            color: #9e9e9e;
          }
          .vector-sHy {
            width: 1rem;
            height: 0.5457rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.1457rem;
          }
        }
        .contact-CLF {
          font-weight: 400;
          line-height: 1.2;
          color: #9e9e9e;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
    }
    .section-banner-VKM {
      width: 192rem;
      height: 128.2rem;
      position: absolute;
      left: 0;
      top: 1.9rem;

      .background-bdH {
        box-sizing: border-box;
        background-color: #181818;
        width: 192rem;
        height: 118.8rem;
        position: absolute;
        left: 0;
        top: 9.4rem;
        border: solid 0.1rem #000000;
      }
      .catching-your-vision-and-telling-your-story-KpB {
        font-size: 8rem;
        width: 103.5rem;
        position: absolute;
        left: 37.5rem;
        top: 19.4rem;
        font-weight: 600;
        line-height: 1.2;
        color: #fbfbfb;
        font-family: Syne, 'Source Sans Pro';
        height: 19.2rem;

        .catching-your-vision-and-telling-your-story-KpB-sub-0 {
        }
        .catching-your-vision-and-telling-your-story-KpB-sub-1 {
          color: #ff7425;
          font-family: Syne, 'Source Sans Pro';
          font-size: 8rem;
          font-weight: 600;
          line-height: 1.2;
        }
      }
      .frame-1-cqD {
        position: absolute;
        left: 74.8rem;
        top: 0;
        overflow: hidden;
        width: 10rem;
        height: 10rem;
      }
      .icon-project-jQ3 {
        object-fit: cover;
        vertical-align: top;
        width: 16.5rem;
        height: 16.5rem;
        position: absolute;
        left: 138rem;
        top: 44.1rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vestibulum-pulvinar-arcu-eget-dictum-facilisis-vivamus-in-justo-ipsum-duis-pulvinar-eget-nisl-a-convallis-donec-consequat-varius-varius-4SK {
        line-height: 1.3025;
        height: 4.5rem;
        position: absolute;
        top: 45rem;
        font-size: 1.7rem;
        font-family: DM Sans, 'Source Sans Pro';
        width: 93.4rem;
        left: 37.5rem;
        font-weight: 400;
        color: #9e9e9e;
      }
      .button-UF9 {
        top: 52.4rem;
        color: #ff7425;
        justify-content: center;
        box-sizing: border-box;
        width: 17rem;
        height: 5.6rem;
        text-align: center;
        font-size: 1.3rem;
        left: 37.5rem;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        align-items: center;
        position: absolute;
        line-height: 1.3025;
        letter-spacing: 0.065rem;
        font-family: DM Sans, 'Source Sans Pro';
        display: flex;
        border: solid 0.1rem #ff7425;
      }
      .image-KFm {
        width: 117rem;
        height: 58.3rem;
        position: absolute;
        left: 37.5rem;
        top: 64rem;
        background-color: #9e9e9e;
      }
    }
  }
  .section-about-us-eJ3 {
    height: 92.6rem;
    position: relative;
    background-color: #2a2a2a;
    flex-shrink: 0;
    width: 100%;

    .who-we-are-n9M {
      top: 11.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.18rem;
      text-transform: uppercase;
      color: #ff7425;
      white-space: nowrap;
      width: 13.2rem;
      height: 2.4rem;
      position: absolute;
      left: 117.5rem;
      line-height: 1.3025;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .the-power-of-video-is-undeniable-sRh {
      left: 117.5rem;
      top: 15.6rem;
      font-size: 5rem;
      font-weight: 600;
      color: #fbfbfb;
      width: 35.3rem;
      height: 18rem;
      position: absolute;
      font-family: Syne, 'Source Sans Pro';
      line-height: 1.2;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vestibulum-pulvinar-arcu-eget-dictum-facilisis-mauris-mauris-ligula-varius-vel-massa-ut-ZJX {
      position: absolute;
      left: 117.5rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #9e9e9e;
      width: 36.6rem;
      height: 8.9rem;
      top: 35.6rem;
      font-size: 1.7rem;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .image-CMV {
      height: 48.7rem;
      position: absolute;
      left: 37.5rem;
      top: 11.8rem;
      background-color: #9e9e9e;
      width: 77rem;
    }
    .quotes-XuZ {
      left: 107.5rem;
      align-items: center;
      display: flex;
      padding: 4.9rem 6.9rem 4.6rem 5.6rem;
      width: 47rem;
      height: 32.5rem;
      position: absolute;
      top: 48.4rem;
      flex-direction: column;
      background-color: #181818;
      box-sizing: border-box;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-elit-tellus-luctus-nec-ullamcorper-mattis-pulvinar-dapibus-zo9 {
        margin-bottom: 2rem;
        max-width: 34.5rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.2;
        color: #fbfbfb;
        font-family: Syne, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-95mh-rKZ {
        height: 5.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 17.6rem;
        width: calc(100% - 17.6rem);

        .auto-group-oqum-mxK {
          flex-shrink: 0;
          margin-right: 3.1rem;
          box-sizing: border-box;
          padding: 0.2rem;
          width: 5.4rem;
          height: 100%;
          border: solid 0.1rem #9e9e9e;
          border-radius: 2.7rem;

          .image-hLB {
            width: 100%;
            height: 5rem;
            background-color: #d9d9d9;
            border-radius: 2.5rem;
          }
        }
        .auto-group-radd-cT9 {
          height: calc(100% - 1.3rem);
          position: relative;
          flex-shrink: 0;
          margin: 0.6rem 0rem 0.7rem 0rem;
          width: 8.4rem;

          .anne-doe-Xq1 {
            position: absolute;
            left: 0;
            line-height: 1.3025;
            width: 8.4rem;
            top: 0;
            font-size: 1.7rem;
            font-weight: 400;
            color: #ff7425;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.3rem;
          }
          .designer-EjR {
            font-size: 1.4rem;
            font-weight: 400;
            height: 1.9rem;
            position: absolute;
            left: 0;
            color: #9e9e9e;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.7rem;
            top: 2.2rem;
            line-height: 1.3025;
          }
        }
      }
    }
    .partners-vcF {
      left: 37.5rem;
      top: 64.7rem;
      display: flex;
      align-items: center;
      width: 67.0059rem;
      height: 3.5rem;
      position: absolute;

      .logo-ipsum-01-FPd {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 5.2529rem;
        width: 12.8471rem;
        height: 3.5rem;
        object-fit: cover;
      }
      .logo-ipsum-03-ago {
        margin-right: 5.2529rem;
        width: 12.8471rem;
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .logo-ipsum-02-uyy {
        width: 12.8059rem;
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 5.1941rem;
      }
      .logo-ipsum-04-TVh {
        vertical-align: top;
        flex-shrink: 0;
        width: 12.8059rem;
        height: 3.5rem;
        object-fit: cover;
      }
    }
  }
  .section-services-bbu {
    padding: 10.9rem 37.5rem 14.6rem 37.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-tvzr-KXu {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 4rem 3.3rem 0rem;
      width: calc(100% - 4rem);
      height: 22rem;

      .auto-group-msdm-FRZ {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 7.2rem;
        height: 100%;

        .service-we-do-PGs {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          text-transform: uppercase;
          color: #ff7425;
          letter-spacing: 0.18rem;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .we-create-stunning-visuals-that-tell-your-story-hoM {
          font-family: Syne, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 52.8rem;
          font-size: 5rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
        }
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vestibulum-pulvinar-arcu-eget-dictum-facilisis-pNB {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #9e9e9e;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 1.2rem;
        max-width: 53rem;
      }
    }
    .auto-group-uxt1-6Kh {
      display: flex;
      column-gap: 3rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3rem;
      width: 100%;
      height: 31.1rem;

      .column-1-R75 {
        padding: 2.9rem 2.8rem 3.3rem 3rem;
        width: 37rem;
        height: 100%;
        border: solid 0.1rem #9e9e9e;
        flex-shrink: 0;
        box-sizing: border-box;

        .icon-vpX {
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          margin-bottom: 1.8rem;
          width: 6rem;
        }
        .video-ads-4Qw {
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
        }
        .fusce-at-suscipit-lacus-mauris-in-pharetra-purus-proin-non-viverra-nibh-a-efficitur-eros-praesent-rutrum-sem-nibh-PTD {
          margin-bottom: 1.5rem;
          max-width: 31.2rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #fbfbfb;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .button-fvX {
          align-items: center;
          margin-right: 19.5rem;
          width: calc(100% - 19.5rem);
          display: flex;

          .view-details-cqm {
            font-weight: 500;
            line-height: 1.3025;
            text-transform: uppercase;
            color: #ff7425;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.9rem;
            font-size: 1.3rem;
            letter-spacing: 0.065rem;
            flex-shrink: 0;
          }
          .vector-YUX {
            height: 1.2863rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0137rem;
            width: 1.5rem;
          }
        }
      }
      .column-2-qTd {
        box-sizing: border-box;
        padding: 2.9rem 2.8rem 3.3rem 3rem;
        width: 37rem;
        height: 100%;
        border: solid 0.1rem #9e9e9e;
        flex-shrink: 0;

        .icon-LvB {
          margin-bottom: 1.8rem;
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .video-vlog-5My {
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
        }
        .fusce-at-suscipit-lacus-mauris-in-pharetra-purus-proin-non-viverra-nibh-a-efficitur-eros-praesent-rutrum-sem-nibh-QQF {
          line-height: 1.3025;
          color: #fbfbfb;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 1.5rem;
          max-width: 31.2rem;
          font-size: 1.7rem;
          font-weight: 400;
        }
        .button-CL7 {
          width: calc(100% - 19.5rem);
          display: flex;
          align-items: center;
          margin-right: 19.5rem;

          .view-details-9FM {
            font-weight: 500;
            text-transform: uppercase;
            white-space: nowrap;
            flex-shrink: 0;
            color: #ff7425;
            font-family: DM Sans, 'Source Sans Pro';
            margin-right: 0.9rem;
            font-size: 1.3rem;
            line-height: 1.3025;
            letter-spacing: 0.065rem;
          }
          .vector-qdy {
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .column-3-AAT {
        border: solid 0.1rem #9e9e9e;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 2.8rem 3.3rem 3rem;
        width: 37rem;
        height: 100%;

        .icon-GzB {
          margin-bottom: 1.8rem;
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .music-video-1gs {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
        }
        .fusce-at-suscipit-lacus-mauris-in-pharetra-purus-proin-non-viverra-nibh-a-efficitur-eros-praesent-rutrum-sem-nibh-x6K {
          color: #fbfbfb;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 1.5rem;
          max-width: 31.2rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .button-eE3 {
          width: calc(100% - 19.5rem);
          display: flex;
          align-items: center;
          margin-right: 19.5rem;

          .view-details-bf5 {
            margin-right: 0.9rem;
            font-weight: 500;
            line-height: 1.3025;
            letter-spacing: 0.065rem;
            text-transform: uppercase;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.3rem;
            color: #ff7425;
            flex-shrink: 0;
          }
          .vector-K5H {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
          }
        }
      }
    }
    .auto-group-4g6k-S9u {
      flex-shrink: 0;
      width: 100%;
      height: 31.1rem;
      display: flex;
      column-gap: 3rem;
      align-items: center;

      .column-4-yfd {
        width: 37rem;
        height: 100%;
        border: solid 0.1rem #9e9e9e;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 2.8rem 3.3rem 3rem;

        .icon-Vts {
          object-fit: cover;
          vertical-align: top;
          margin-bottom: 1.8rem;
          width: 6rem;
          height: 6rem;
        }
        .event-video-Sp7 {
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 3rem;
          font-weight: 600;
        }
        .fusce-at-suscipit-lacus-mauris-in-pharetra-purus-proin-non-viverra-nibh-a-efficitur-eros-praesent-rutrum-sem-nibh-z4w {
          margin-bottom: 1.5rem;
          max-width: 31.2rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #fbfbfb;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .button-5MH {
          margin-right: 19.5rem;
          width: calc(100% - 19.5rem);
          display: flex;
          align-items: center;

          .view-details-QeT {
            margin-right: 0.9rem;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.3025;
            text-transform: uppercase;
            font-family: DM Sans, 'Source Sans Pro';
            letter-spacing: 0.065rem;
            color: #ff7425;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .vector-jRq {
            height: 1.2863rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0137rem;
            width: 1.5rem;
          }
        }
      }
      .column-5-s2F {
        box-sizing: border-box;
        padding: 2.9rem 2.8rem 3.3rem 3rem;
        width: 37rem;
        height: 100%;
        border: solid 0.1rem #9e9e9e;
        flex-shrink: 0;

        .icon-PWP {
          margin-bottom: 1.8rem;
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .movie-w27 {
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 3rem;
        }
        .fusce-at-suscipit-lacus-mauris-in-pharetra-purus-proin-non-viverra-nibh-a-efficitur-eros-praesent-rutrum-sem-nibh-UGw {
          max-width: 31.2rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #fbfbfb;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 1.5rem;
        }
        .button-NNK {
          width: calc(100% - 19.5rem);
          display: flex;
          align-items: center;
          margin-right: 19.5rem;

          .view-details-KYT {
            white-space: nowrap;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            margin-right: 0.9rem;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.3025;
            letter-spacing: 0.065rem;
            text-transform: uppercase;
            color: #ff7425;
          }
          .vector-eaj {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
          }
        }
      }
      .column-6-yN7 {
        border: solid 0.1rem #9e9e9e;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 2.8rem 3.3rem 3rem;
        width: 37rem;
        height: 100%;

        .icon-Htb {
          vertical-align: top;
          margin-bottom: 1.8rem;
          width: 6rem;
          height: 6rem;
          object-fit: cover;
        }
        .documenter-video-2bH {
          margin-bottom: 1.4rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fusce-at-suscipit-lacus-mauris-in-pharetra-purus-proin-non-viverra-nibh-a-efficitur-eros-praesent-rutrum-sem-nibh-Zr7 {
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #fbfbfb;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 1.5rem;
          max-width: 31.2rem;
        }
        .button-esZ {
          display: flex;
          align-items: center;
          margin-right: 19.5rem;
          width: calc(100% - 19.5rem);

          .view-details-Q63 {
            font-weight: 500;
            line-height: 1.3025;
            letter-spacing: 0.065rem;
            margin-right: 0.9rem;
            font-size: 1.3rem;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-transform: uppercase;
            color: #ff7425;
          }
          .vector-XRZ {
            flex-shrink: 0;
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
  .section-portfolio-1rX {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.3rem 37.5rem 11.76rem 37.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;

    .portfolio-vib {
      font-weight: 400;
      color: #ff7425;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 1.8rem;
      letter-spacing: 0.18rem;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: 1.6rem;
      line-height: 1.3025;
    }
    .we-are-really-proud-of-our-work-FF5 {
      text-align: center;
      line-height: 1.2;
      font-family: Syne, 'Source Sans Pro';
      margin-bottom: 1.7rem;
      font-size: 5rem;
      font-weight: 600;
      color: #fbfbfb;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vestibulum-pulvinar-arcu-eget-dictum-facilisis-A79 {
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 400;
      text-align: center;
      font-size: 1.7rem;
      line-height: 1.3025;
      color: #9e9e9e;
      flex-shrink: 0;
      margin-bottom: 5.7rem;
    }
    .project-1-SaT {
      flex-shrink: 0;
      margin: 0rem 0.5rem 9.26rem 0rem;
      width: calc(100% - 0.5rem);
      height: 37.7398rem;
      display: flex;
      align-items: center;

      .auto-group-x9zf-xYo {
        background-color: #9e9e9e;
        flex-shrink: 0;
        margin-right: 3rem;
        box-sizing: border-box;
        padding: 16.4rem 31rem 16.34rem 31rem;
        height: 100%;

        .vector-UX9 {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-zuiw-pL7 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.5rem 0rem 7.94rem 0rem;
        height: calc(100% - 15.4398rem);
        display: flex;

        .item-2021-jhy {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2;
          color: #ff7425;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
        }
        .wedding-documentary-fLj {
          margin-bottom: 2.2rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-elit-tellus-luctus-nec-ullamcorper-mattis-PXd {
          color: #9e9e9e;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          max-width: 46.5rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .button-5fM {
          width: 17rem;
          font-family: DM Sans, 'Source Sans Pro';
          box-sizing: border-box;
          flex-shrink: 0;
          line-height: 1.3025;
          letter-spacing: 0.065rem;
          white-space: nowrap;
          color: #ff7425;
          align-items: center;
          height: 5.6rem;
          font-size: 1.3rem;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          display: flex;
          justify-content: center;
          border: solid 0.1rem #ff7425;
        }
      }
    }
    .project-2-M75 {
      flex-shrink: 0;
      margin: 0rem 0rem 9.26rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 37.7398rem;
      display: flex;
      align-items: center;

      .auto-group-giab-fNf {
        height: calc(100% - 15.4398rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 7.5rem 3rem 7.94rem 0rem;

        .item-2021-Bbu {
          margin-bottom: 1.2rem;
          text-align: right;
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          color: #ff7425;
          font-family: Syne, 'Source Sans Pro';
        }
        .humble-skate-campaign-JgX {
          font-size: 3rem;
          line-height: 1.2;
          color: #fbfbfb;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          text-align: right;
          font-weight: 600;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-elit-tellus-luctus-nec-ullamcorper-mattis-odH {
          line-height: 1.3025;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          max-width: 46.5rem;
          text-align: right;
          font-weight: 400;
          font-size: 1.7rem;
          color: #9e9e9e;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .button-66b {
          border: solid 0.1rem #ff7425;
          flex-shrink: 0;
          text-align: right;
          font-weight: 500;
          align-items: center;
          height: 5.6rem;
          display: flex;
          font-family: DM Sans, 'Source Sans Pro';
          width: 17rem;
          font-size: 1.3rem;
          text-transform: uppercase;
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
          line-height: 1.3025;
          letter-spacing: 0.065rem;
          color: #ff7425;
        }
      }
      .auto-group-lcmm-a1m {
        box-sizing: border-box;
        padding: 16.4rem 31rem 16.34rem 31rem;
        height: 100%;
        background-color: #9e9e9e;
        flex-shrink: 0;

        .vector-JCf {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .project-3-2uM {
      align-items: center;
      flex-shrink: 0;
      margin-right: 0.5rem;
      width: calc(100% - 0.5rem);
      height: 37.7398rem;
      display: flex;

      .auto-group-zeym-ZuH {
        background-color: #9e9e9e;
        flex-shrink: 0;
        margin-right: 3rem;
        box-sizing: border-box;
        padding: 16.4rem 31rem 16.34rem 31rem;
        height: 100%;

        .vector-J6B {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-g1ou-du9 {
        margin: 7.5rem 0rem 7.94rem 0rem;
        height: calc(100% - 15.4398rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-2022-xgX {
          line-height: 1.2;
          color: #ff7425;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .fstvlst-music-video-5WF {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-elit-tellus-luctus-nec-ullamcorper-mattis-191 {
          color: #9e9e9e;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          max-width: 46.5rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .button-gkw {
          font-size: 1.3rem;
          line-height: 1.3025;
          justify-content: center;
          border: solid 0.1rem #ff7425;
          flex-shrink: 0;
          width: 17rem;
          text-align: center;
          font-weight: 500;
          display: flex;
          box-sizing: border-box;
          letter-spacing: 0.065rem;
          color: #ff7425;
          font-family: DM Sans, 'Source Sans Pro';
          align-items: center;
          height: 5.6rem;
          text-transform: uppercase;
          white-space: nowrap;
        }
      }
    }
  }
  .section-testimonial-Yo9 {
    height: 54.3rem;
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.7rem 37.5rem;
    width: 100%;

    .what-our-clients-says-about-our-work-fsm {
      margin: 0rem 8.9rem 3.1rem 0rem;
      max-width: 41.1rem;
      font-size: 5rem;
      font-weight: 600;
      line-height: 1.2;
      color: #fbfbfb;
      font-family: Syne, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .testimonial-mfu {
      width: 67rem;
      height: 100%;
      flex-shrink: 0;

      .vector-vYo {
        margin-bottom: 4.0389rem;
        width: 6.5rem;
        height: 4.8611rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vidorama-is-amazing-laoreet-tincidunt-tortor-eu-aliquet-nunc-phasellus-malesuada-semper-lacus-in-finibus-donec-vel-sapien-quis-mi-accumsan-sodales-aliquam-eu-orci-feugiat-dapibus-sapien-rutrum-posuere-tellus-aliquam-efficitur-mauris-mattis-metus-lobortis-tristique-accumsan-ipsum-elementum-5Ao {
        margin-bottom: 4.1rem;
        max-width: 67rem;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #9e9e9e;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .auto-group-ayu9-HGs {
        height: 7rem;
        display: flex;
        align-items: center;
        margin-right: 45.1rem;
        width: calc(100% - 45.1rem);

        .image-RP5 {
          background-color: #c4c4c4;
          border-radius: 3.5rem;
          flex-shrink: 0;
          margin-right: 3rem;
          width: 7rem;
          height: 7rem;
        }
        .auto-group-tw5h-MnX {
          margin: 1.3rem 0rem 1.6rem 0rem;
          width: 11.9rem;
          height: calc(100% - 2.9rem);
          position: relative;
          flex-shrink: 0;

          .mark-william-UMM {
            white-space: nowrap;
            top: 0;
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #ff7425;
            width: 11.9rem;
            height: 2.3rem;
            position: absolute;
            left: 0;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .designation-nsq {
            position: absolute;
            left: 0;
            top: 2.2rem;
            color: #9e9e9e;
            white-space: nowrap;
            width: 7.7rem;
            height: 1.9rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.3025;
            font-family: DM Sans, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .section-team-qbD {
    padding: 12.4rem 37.5rem 12.8rem 37.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-1ayd-MpT {
      height: 16rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 3.6rem 6.6rem 0rem;
      width: calc(100% - 3.6rem);

      .auto-group-qvt1-UeB {
        margin-right: 13.3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .meet-the-team-pi3 {
          margin-bottom: 1.6rem;
          font-weight: 400;
          letter-spacing: 0.18rem;
          text-transform: uppercase;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          line-height: 1.3025;
          color: #ff7425;
          flex-shrink: 0;
        }
        .we-are-vidorama-professional-team-jq1 {
          font-family: Syne, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 47.1rem;
          font-size: 5rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
        }
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vestibulum-pulvinar-arcu-eget-dictum-facilisis-FoM {
        max-width: 53rem;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #9e9e9e;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 1.2rem;
      }
    }
    .auto-group-ee87-Lpo {
      flex-shrink: 0;
      width: 100%;
      height: 45.7rem;
      display: flex;
      column-gap: 3rem;
      align-items: center;

      .team-1-t5d {
        width: 27rem;
        height: 100%;
        flex-shrink: 0;

        .image-qmZ {
          height: 36.5rem;
          background-color: #9e9e9e;
          margin-bottom: 2.2rem;
          width: 100%;
        }
        .will-joshua-BqR {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
        }
        .executive-producer-j6F {
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #ff7425;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .team-2-48X {
        width: 27rem;
        height: 100%;
        flex-shrink: 0;

        .image-QiB {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 36.5rem;
          background-color: #9e9e9e;
        }
        .anne-doe-Zb5 {
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 3rem;
          font-weight: 600;
        }
        .executive-producer-ttF {
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #ff7425;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .team-3-daw {
        flex-shrink: 0;
        width: 27rem;
        height: 100%;

        .image-nij {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 36.5rem;
          background-color: #9e9e9e;
        }
        .mark-william-9ZH {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
        }
        .executive-producer-5xj {
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #ff7425;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .team-4-pfR {
        width: 27rem;
        height: 100%;
        flex-shrink: 0;

        .image-BVy {
          background-color: #9e9e9e;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 36.5rem;
        }
        .jacob-william-9Bu {
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
        }
        .executive-producer-HJ7 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #ff7425;
        }
      }
    }
  }
  .section-blog-news-p39 {
    box-sizing: border-box;
    padding: 10.2rem 37.5rem 11rem 37.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    flex-shrink: 0;

    .blog-and-news-wNf {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      line-height: 1.3025;
      letter-spacing: 0.18rem;
      color: #ff7425;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .checkout-our-latest-news-and-article-SqD {
      color: #fbfbfb;
      font-family: Syne, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 5rem;
      line-height: 1.2;
      margin-bottom: 1.7rem;
      font-weight: 600;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-vestibulum-pulvinar-arcu-eget-dictum-facilisis-xYf {
      white-space: nowrap;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #9e9e9e;
      font-family: DM Sans, 'Source Sans Pro';
      margin-bottom: 7.2rem;
      text-align: center;
      flex-shrink: 0;
    }
    .auto-group-cywk-eRV {
      column-gap: 3rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 45.4rem;
      display: flex;

      .column-1-BAX {
        width: 37rem;
        height: 100%;
        flex-shrink: 0;

        .image-XkB {
          margin-bottom: 2.7rem;
          width: 100%;
          height: 27.4rem;
          background-color: #9e9e9e;
        }
        .why-corporate-video-production-is-essential-for-your-business-sp3 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          margin-bottom: 1.8rem;
          max-width: 34.1rem;
        }
        .donec-elementum-tristique-finibus-praesent-vitae-mollis-ligula-ac-pretium-aiT {
          max-width: 35rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #9e9e9e;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 2rem;
        }
        .button-TGT {
          margin-right: 26.7rem;
          width: calc(100% - 26.7rem);
          display: flex;
          align-items: center;

          .read-more-obD {
            margin-right: 1rem;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 1.3rem;
            line-height: 1.3025;
            letter-spacing: 0.065rem;
            text-transform: uppercase;
            color: #ff7425;
          }
          .vector-87h {
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .column-2-f7d {
        width: 37rem;
        height: 100%;
        flex-shrink: 0;

        .image-ojd {
          margin-bottom: 2.7rem;
          width: 100%;
          height: 27.4rem;
          background-color: #9e9e9e;
        }
        .optimising-your-video-content-for-various-digital-platforms-xsR {
          margin-bottom: 1.8rem;
          max-width: 32.8rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2;
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
        }
        .donec-elementum-tristique-finibus-praesent-vitae-mollis-ligula-ac-pretium-Uqm {
          color: #9e9e9e;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 2rem;
          max-width: 35rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .button-z3R {
          display: flex;
          align-items: center;
          margin-right: 26.7rem;
          width: calc(100% - 26.7rem);

          .read-more-wDZ {
            line-height: 1.3025;
            text-transform: uppercase;
            color: #ff7425;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 0.065rem;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 1rem;
          }
          .vector-ReX {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
            object-fit: contain;
          }
        }
      }
      .column-3-mTV {
        width: 37rem;
        height: 100%;
        flex-shrink: 0;

        .image-KV1 {
          height: 27.4rem;
          background-color: #9e9e9e;
          margin-bottom: 2.7rem;
          width: 100%;
        }
        .the-15-films-on-the-documentary-feature-shortlist-Gf9 {
          color: #fbfbfb;
          font-family: Syne, 'Source Sans Pro';
          margin-bottom: 1.8rem;
          max-width: 32.6rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2;
        }
        .donec-elementum-tristique-finibus-praesent-vitae-mollis-ligula-ac-pretium-Bn7 {
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 2rem;
          max-width: 35rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #9e9e9e;
        }
        .button-gym {
          margin-right: 26.7rem;
          width: calc(100% - 26.7rem);
          display: flex;
          align-items: center;

          .read-more-pq5 {
            text-transform: uppercase;
            color: #ff7425;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 0.065rem;
            margin-right: 1rem;
            line-height: 1.3025;
          }
          .vector-ivT {
            margin-bottom: 0.0137rem;
            width: 1.5rem;
            height: 1.2863rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .section-contact-us-FvP {
    background-color: #c4c4c4;
    flex-shrink: 0;
    width: 100%;
    height: 39rem;
    position: relative;

    .background-zsy {
      position: absolute;
      left: 47.5rem;
      top: 7.8rem;
      background-color: rgba(24, 24, 24, 0.8000000119);
      width: 97rem;
      height: 23.4rem;
    }
    .lets-make-a-great-project-KfM {
      top: 13.3rem;
      text-align: center;
      line-height: 1.2;
      color: #fbfbfb;
      font-family: Syne, 'Source Sans Pro';
      height: 6rem;
      left: 61.55rem;
      font-size: 5rem;
      font-weight: 600;
      white-space: nowrap;
      width: 68.9rem;
      position: absolute;
    }
    .button-23y {
      height: 5.6rem;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      left: 87.5rem;
      font-size: 1.3rem;
      display: flex;
      width: 17rem;
      font-weight: 500;
      white-space: nowrap;
      text-transform: uppercase;
      color: #ff7425;
      font-family: DM Sans, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      top: 22.2rem;
      line-height: 1.3025;
      letter-spacing: 0.065rem;
      border: solid 0.1rem #ff7425;
    }
  }
  .section-footer-qXD {
    padding: 8.6rem 59.35rem 3.6rem 59.35rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    flex-shrink: 0;
    box-sizing: border-box;

    .logo-keB {
      position: relative;
      background-size: 100% 167.905%;
      background-position: 0 -2.389rem;
      background-image: url('REPLACE_IMAGE:e5b048fcff187f1f1fbce090b7d7117cb1cc9f0c');
      flex-shrink: 0;
      margin: 0rem 0rem 1.5rem 0.1rem;
      width: 36.9rem;
      height: 6.3rem;
    }
    .nav-menu-ptw {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9.75rem 2.6rem 9.65rem;
      width: calc(100% - 19.4rem);

      .home-LsH {
        margin-right: 6.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
        color: #ff7425;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .about-esy {
        margin-right: 6.65rem;
        line-height: 1.2;
        font-family: Syne, 'Source Sans Pro';
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        color: #ff7425;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .services-njH {
        text-align: center;
        font-weight: 400;
        margin-right: 6.45rem;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #ff7425;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .pages-JSj {
        font-weight: 400;
        line-height: 1.2;
        color: #ff7425;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.3rem;
        font-size: 1.8rem;
      }
      .contact-SYw {
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
        color: #ff7425;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .praesent-at-nibh-ornare-maximus-massa-id-rutrum-ligula-pellentesque-libero-eros-ultricies-sit-amet-sodales-vel-congue-non-elit-sed-facilisis-purus-ut-dolor-fringilla-z4f {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.3025;
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      max-width: 73.3rem;
      text-align: center;
      color: #9e9e9e;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .social-media-ddR {
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 29.15rem 8.7rem 28.75rem;
      width: calc(100% - 57.9rem);

      .vector-YkP {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0203rem;
        width: 3rem;
        height: 2.9797rem;
        object-fit: contain;
      }
      .vector-Hhy {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1094rem;
        width: 3rem;
        height: 2.1094rem;
        object-fit: contain;
      }
      .vector-1P5 {
        width: 3rem;
        height: 2.9993rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0007rem;
      }
    }
    .vidorama-by-rometheme-studio-all-rights-reserved-Ydu {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #9e9e9e;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
  }
}
